.nav {
    background: #6497b1;
    max-width: 300px;
    width: 100%;
    height: calc(100vh - 63px);
    position: fixed;
    top: 66px;

    &__list {
        list-style: none;
        margin-bottom: 50px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__link {
        font-size: 20px;
        color: #ffffff;
        text-decoration: none;
        display: block;
        padding: 15px 20px;
        background: #6497b1;
        transition: background 0.5s ease;
        cursor: pointer;

        &:hover {
            background: #92b6c8;
        }
    }

    &__link--active {
        background: #92b6c8;
    }

    &__link--out {
        border: none;
        width: 100%;
        text-align: left;
    }
}

@media (max-width: 991px) {
    .nav {
        max-width: 200px;
    }
}

@media (max-width: 768px) {
    .nav {
        max-width: 250px;
        top: 72px;
        left: -250px;
        transition: left 0.3s ease;

        &.is-open {
            z-index: 10000;
            left: 0;
        }
    }
}

@media (max-width: 576px) {
    .nav {
        left: -100%;
        max-width: 100%;
    }
}
