<div class="search-content">
    <div class="form search search-content__form">
        <form class="search__form" [formGroup]="searchForm">
            <input class="search__input form__input" type="text" id="search" formControlName="search"
                placeholder="Search" required>
            <button class="button search__button" type="submit" (click)="searchUser(users)">Search</button>
        </form>
    </div>
    <!-- END .search-->
    <div class="sort posts-content__sort" *ngIf="sortButton">
        <button class="button sort__button" (click)="sortUsers()">↑ ↓</button>
    </div>
    <div class="users">
        <div class="user users__item" *ngFor="let user of users">
            <p class="user__name">{{user.name}}</p>
            <button class="user__following" [following]="user.followings.length"
                (click)="handlerFollowing(user.id)"></button>
        </div>
    </div>
</div>