<div class="posts">
    <div class="posts-content">
        <div class="sort posts-content__sort">
            <button class="button sort__button" *ngIf="sortButton" (click)="sortPosts()">↑ ↓</button>
        </div>
        <div class="posts-list">
            <div class="post posts-list__item" *ngFor="let post of posts">
                <p class="post__title">{{post.title}}</p>
                <p class="post__text">{{post.text}}</p>
                <p class="post__date">{{post.date |date: "dd-MM-yyyy"}}</p>
            </div>
        </div>
    </div>
</div>